@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --primary-color: #8A663F;
  --secondary-color: #F6DEDE;
  --accent1-color: #F6DEDE;
  --accent2-color: #F6DEDE;

  --heading-font: "Playfair Display", "Libre Baskerville", serif;
  --paragraph-font: "Lora", "Libre Baskerville", serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--secondary-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5 {
    color: var(--headline-color-on-white);
    font-family: var(--heading-font);
    margin: 10px;
}

p {
    color: var(--paragraph-color-on-white);
    font-family: var(--paragraph-font);
    margin: 10px;
}

header {
    padding: 10px;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-content: stretch;
}

#logo-text {
    font-size: 2.5em;
    min-width: 120px;
    text-decoration: none;
    align-self: stretch;
    align-content: center;
    font-family: var(--heading-font);
}

nav {
    background-color: var(--nav-background-color);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    font-family: var(--heading-font);
}

nav a {
    font-size: 1.5em;
    min-width: 120px;
    text-decoration: none;
    align-self: stretch;
    align-content: center;
}

#logo-text, nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    /* background-color: var(--nav-hover-background-color); */
    border-radius: 5px;
    border-color: var(--secondary-color);
}

.main-content {
    max-width: 1000px;
    min-height: 100vh;
    width: 100%;
    justify-self: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
}

footer p {
    color: var(--paragraph-color-on-color);
    text-decoration: none;
    font-size: 1.5em;
}

@media (min-width: 700px) {
    header {
        grid-template-columns: 50% 1fr;
        text-align: left;
    }
    nav {
        grid-template-columns: repeat(4, 1fr);
    }
    footer {
        flex-direction: row;
    }
}